/A - SOURCE CODE/B - BACK-END/Sso/bin
/A - SOURCE CODE/B - BACK-END/Sso/obj
/A - SOURCE CODE/B - BACK-END/Shared/bin
/A - SOURCE CODE/B - BACK-END/Shared/obj
/A - SOURCE CODE/B - BACK-END/Database/bin
/A - SOURCE CODE/B - BACK-END/Database/obj
/A - SOURCE CODE/B - BACK-END/.vs
/A - SOURCE CODE/B - BACK-END/SharedService/bin
/A - SOURCE CODE/B - BACK-END/SharedService/obj
