<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <!--<add name="iDistribution" connectionString="Data Source=Database\iDistribution.db;Version=3;" providerName="System.Data.SQLite" />-->
  <add name="iDistribution" connectionString="Data Source=.\SQLSERVER;Initial Catalog=iPhoto;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>